#main {
    display: flex;
    justify-content: center;
    background-color: #f5f5f5;
}

h1 {
    font-family: "Roboto", sans-serif;
    font-size: 30pt;
    padding-bottom: 0px;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
    font-weight: bold;
}
li a:hover {
    color: white !important;
}

#form-full-section {
    width: 900px;
    display: flex;
    flex-wrap: nowrap;
    margin: 40px 70px;
    border-radius: 15px;
    background-color: white;
}

/* left Section - form */
#leftSection {
    width: 60%;
    margin: 40px 50px;
    display: flex;
    flex-direction: column;
}

#logo {
    text-align: center;
    font-size: 18pt;
}

#info {
    margin: 20px 0px 15px 0px;
    text-align: center;
}

.formSection {
    display: flex;
    flex-direction: column;
    margin: 15px 0px;
}

.formSection label {
    padding: 5px 10px;
}

.formSection input {
    padding: 10px;
    border-radius: 15px;
    border: 0px;
    background-color: #eeeeee;
}
#login-submit,
#signup-submit {
    width: 150px;
    font-size: 14pt;
    font-weight: bolder;
    background-color: #d59c86;
    color: white;
    align-self: center;
    margin: 15px;
}

#login-submit:hover,
#signup-submit:hover {
    transform: scale(1.1);
    cursor: pointer;
}

/* Right Section - img */
#rightSection {
    width: 40%;
    text-align: end;
}

#rightSection img {
    height: 100%;
    width: 100%;
    border-radius: 0px 15px 15px 0px;
    object-fit: cover;
}

.form-column {
    display: flex;
    flex-direction: row !important;
    flex-wrap: nowrap;
}
